:host {
  display: block;
  margin: 1rem auto;
}

.container {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.waves-effect {
  background-color: rgb(29, 34, 59);
  color: white;
}


.waves-ripple {
  background-color: white;
}
