<div *ngIf="isLoading" class="spinner-border text-primary">

  <span class="sr-only">Loading...</span>

</div>

<div class="jumbotron">

  <h1 class="display-3">City Care</h1>
  <p class="lead">Our goal is simple, connect every community with their local nonprofit organizations.</p>

  <p>We want to make your local nonprofit organizations more easily accessible by letting you connect to
    them. You can see inventory, contacts, and even post your needs for other users and orgs to see! Our
    goal is to make it as easy as possible for you to receive the care and resources that you need! This will
    be a point of connection for our users and organizations to better serve one another. We believe this
    application has the power to enrich communities through helping hands. Thank you for using City
    Care.</p>
  <p class="lead">
    <!-- <a class="btn btn-primary btn-lg active" routerLink="/city-care/user-registration" role="button" aria-pressed="true">Register</a> -->
    <a routerLink='/city-care/user-registration' class="waves-effect waves-light btn white-text">Register</a>
  </p>
  <img class='img' src="../../../assets/images/carousel1.jpg">
</div>







<div class="icon-container">
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <img class='icons' src="../../../assets/icons/list.png">
            <h3>Make an account</h3>
            <p class="lead mb-0">Sign up with some basic information so that we can better serve you.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <img class='icons' src="../../../assets/icons/network.png">
            <h3>Connect</h3>
            <p class="lead mb-0">Connect with local organizations or other users and find the help that you need.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <img class='icons' src="../../../assets/icons/tick.png">
            <h3>Easy to Use</h3>
            <p class="lead mb-0">In minutes, connect with others, find what you need and plan to receive it!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>