 .img {
   width: 60%;
   height: auto;
   margin-left: auto;
   padding-top: 15px;
 }

 .jumbotron {
   width: 100%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   background-color: rgb(255, 255, 255);
 }

 .icons {
   width: 45px;
   height: auto;
   padding-bottom: 15px;
 }

 .icon-container {
   padding-bottom: 35px;
   width: 100%
 }

 body {
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 30px;
 }

 .waves-effect {
   background-color: rgb(29, 34, 59);
 }
 
 .waves-ripple {
   background-color: white;
 }
:host {
  display: block;
  margin: 1rem auto;
}