<div *ngIf="isLoading" class="spinner-border text-primary">

  <span class="sr-only">Loading...</span>

</div>



<h1>Listings & Requests In The City-Care Site Database</h1>

<mat-accordion multi="true" *ngIf="!isLoading && userIsAuthenticated">
  <h3>All Organization Listings</h3>

  <mat-expansion-panel class='panel' *ngFor="let org of orgs">
    <mat-expansion-panel-header *ngIf="org.listings.length > 0">
      <mat-panel-title>
        <p>Organization:&nbsp; {{org.org_name}} <br>Contact Person:&nbsp;{{ org.contact_name }} </p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      <!--  <p>Email:&nbsp; {{org.email}} &nbsp;  Phone:&nbsp; {{ org.phone }} <br>
      Address:&nbsp; {{org.address1}}&nbsp; {{org.city}}, {{org.state}}.&nbsp; {{org.zip}}</p> -->
    </mat-panel-description>
    <mat-panel-description *ngFor="let listing of org.listings">
      <p>Qty:&nbsp; {{ listing.quantity }}<br> Listing: {{ listing.description }}</p>

      <div class="col sm6 right-align">
        <a mat-button routerLinkActive [routerLink]="['/city-care/view-listing/', listing.id]">View</a>
      </div>
    </mat-panel-description>

  </mat-expansion-panel>

</mat-accordion>

<hr>
<mat-accordion multi="true" *ngIf="!isLoading && userIsAuthenticated">

  <h3>All User Requests</h3>

  <mat-expansion-panel class='panel' *ngFor="let user of users">
    <mat-expansion-panel-header *ngIf="user.requests.length > 0">
      <mat-panel-title>
        <p>Name:&nbsp; {{ user.first_name }}&nbsp;{{ user.last_name }}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description *ngFor="let request of user.requests">
      <p class='left-align'>Request: &nbsp;{{ request.name }} <br>
        {{request.details}}</p>
      <div class="col sm6 right-align">
        <a mat-button routerLinkActive [routerLink]="['/city-care/view-request/', request.id]">View</a>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>