<div *ngIf="isLoading" class="spinner-border text-primary">

    <span class="sr-only">Loading...</span>

</div>

<h2>Please register below</h2>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<form id="registerUser" (ngSubmit)="registerUser()" name="registerUser">
    <div>
        <div>
            <p>Type of User:</p>
            <label>
                <input type="radio" id="orgainizationTrue" [checked]="true" [value]="1" name="isOrg"
                    (change)="setIsOrg(true)" [(ngModel)]="user.isOrg" />
                <span>Organization</span>
            </label>
            <label>
                <input type="radio" id="organizationFalse" [value]="0" name="isOrg" (change)="setIsOrg(false)"
                    [(ngModel)]="user.isOrg" />
                <span>Individual</span>
            </label>
        </div>
    </div>
    <div *ngIf="isOrg" class="orgFields">
        <div>
            <label for="org_name">Organization Name:</label>
            <input type="text" id="org_name" name="org_name" placeholder="Enter organization name"
                [(ngModel)]="user.org_name" />
        </div>
        <div>
            <label for="contact_name">Oranization Contact Name:</label>
            <input type="text" id="contact_name" name="contact_name" placeholder="Enter organization contact name"
                [(ngModel)]="user.contact_name" />
        </div>
    </div>
    <div id="contactInfoContainer">
        <div>
            <label for="first_name">User First Name:</label>
            <input type="text" id="first_name" name="first_name" placeholder="Enter first name"
                [(ngModel)]="user.first_name" />
        </div>
        <div>
            <label for="last_name">User Last Name:</label>
            <input type="text" id="last_name" name="last_name" placeholder="Enter last name"
                [(ngModel)]="user.last_name" />
        </div>
        <div>
            <label for="email">User Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter email" aria-describedby="emailHelp"
                [(ngModel)]="user.email" />
            <small id="emailHelp" class="text-muted">We will never share your email with anyone.</small>
        </div>
        <div>
            <label for="phone">Home Phone:</label>
            <input type="tel" id="phone" name="phone" placeholder="(xxx)xxx-xxxx" [(ngModel)]="user.phone" />
        </div>
        <div>
            <label for="mobile_phone">Mobile Phone:</label>
            <input type="tel" id="mobile_phone" name="mobile_phone" placeholder="(xxx)xxx-xxxx"
                [(ngModel)]="user.mobile_phone" />
        </div>
    </div>
    <div *ngIf="isOrg" class="orgFields">
        <div>
            <label for="fax">Organization Fax:</label>
            <input type="tel" id="fax" name="fax" placeholder="(xxx)xxx-xxxx" [(ngModel)]="user.fax" />
        </div>
    </div>
    <div id="contactMethodContainer">
        <div>
            <p>Preferred Contact Method:</p>
            <label>
                <input type="radio" value="email" id="email_method" name="contact_method"
                    [(ngModel)]="user.contact_method" />
                <span>E-mail</span>
            </label>
            <label>
                <input type="radio" value="phone" id="phone_method" name="contact_method"
                    [(ngModel)]="user.contact_method" />
                <span>Phone</span>
            </label>
            <label>
                <input type="radio" value="mobile_phone" id="mobile_phone_method" name="contact_method"
                    [(ngModel)]="user.contact_method" />
                <span>Mobile Phone</span>
            </label>
        </div>
    </div>

    <div id="addressContainer">
        <div>
            <label for="address1">Address 1:</label>
            <input type="text" id="address1" name="address1" placeholder="Street address 1"
                [(ngModel)]="user.address1" />
        </div>
        <div>
            <label for="address2">Address 2:</label>
            <input type="text" id="address2" name="address2" placeholder="Street address 2"
                [(ngModel)]="user.address2" />
        </div>
        <div>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" placeholder="Enter City" [(ngModel)]="user.city" />
        </div>
        <div>
            <label for="state">State:</label>
            <input type="text" id="state" name="state" placeholder="Enter State" [(ngModel)]="user.state" />
        </div>
        <div>
            <label for="county">County:</label>
            <input type="text" id="county" name="county" placeholder="Enter County" [(ngModel)]="user.county" />
        </div>
        <div>
            <label for="zip">Zip Code:</label>
            <input type="text" id="zipcode" name="zip" placeholder="Enter zip code" [(ngModel)]="user.zip" />
        </div>
    </div>
    <div id="authenticationContainer">
        <div>
            <label for="username">User Name:</label>
            <input type="text" id="username" name="username" placeholder="Enter a user name"
                [(ngModel)]="user.username" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="*****" [(ngModel)]="user.password" />
        </div>
    </div>
    <div><button type="submit" class="btn btn-primary">Register</button></div>
</form>