<div *ngIf="isLoading" class="spinner-border text-primary">

  <span class="sr-only">Loading...</span>

</div>

<div *ngIf="!isLoading && userIsAuthenticated" class="team-info">

  <h2>About Thomas & Friends🚂</h2>

  <p class="about">Four friends all attending Bethel School Of Technology, who took the

    Full Stack Web Developer Program, came together to solve a real-world need. <br>Due to the

    COVID19 Pandemic, communities and people around the country

    have faced an unprecedented lack of the necessities that most people take for granted. <br> Because

    of this pandemic, the team decided that for their final group project, they would focus on those

    needs. During the project proposal phase, the Lord put it on their hearts to create the City Care

    App. The product will be an application that puts the resources in the hands of the community

    and the community in touch with the resources to be able to meet those needs. </p>
</div>

<div class="card">

  <div class="card-body">

    <img class="jonathan image-fluid" src="../../../assets/images/team/jonathan.jpg" alt="jonathan">

    <h3 class="card-title">Jonathan Kemper</h3>

    <p class="card-text">Jonathan is a web developer and project manager born and raised in central

      Maryland. Driven by a desire to always be learning and finding ways to improve, he is a

      consummate optimizer of systems and processes. He has also been recognized as a leader,

      initiator, and as someone who can be relied on to get a tough job done the right way. In

      his personal life, Jonathan enjoys spending time with his wife and two dogs as well as

      playing guitar, kayaking, and staying current with modern gaming and entertainment.</p>



    <a href="https://github.com/jonkemper" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/github.png" alt="icons8-github-squared-50"></a>

    <a href="https://www.linkedin.com/in/jonathan-kemper/" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/linkedin.png" alt="icons8-linkedin-50-3"></a>

    <a href="mailto:jonkemper@gmail.com" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/contact.png" alt="icons8-send-email-50"></a>

  </div>

</div>

<div class="card">

  <div class="card-body">
    <img class="peyton image-fluid" src="../../../assets/images/team/peyton.jpg" alt="peyton">

    <h3 class="card-title">Peyton Plaisance</h3>

    <p class="card-text">Peyton is a Full Stack Developer with goals to learn software engineering.

      He has a background in design where he’s worked and become fluent in the Adobe suite for the

      past four years. He’s been a graphic designer and logo designer for smaller companies as a freelance

      artist. Coming into Bethel Tech, he altered his life to develop himself into a great developer. He’s

      committed to a life full of learning and he knows nothing is impossible. He’s been recognized as a

      natural leader and team player. He is people oriented, loyal and a great addition to any team. </p>

    <a href="https://github.com/peyplai" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/github.png" alt="icons8-github-squared-50"></a>

    <a href="https://twitter.com/peyplai" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/twitter.png" alt="icons8-twitter-50"></a>

    <a href="https://www.instagram.com/peyplai/" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/instagram.png" alt="icons8-instagram-old-50"></a>

    <a href="https://www.linkedin.com/in/peyton-plaisance-8256581a2/" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/linkedin.png" alt="icons8-linkedin-50"></a>

    <a href="mailto:pplaisance@theharbor.church" class='card-link'>

      <img class="image-fluid" src="../../../assets/icons/contact.png" alt="icons8-send-email-50"></a>



  </div>

</div>

<div class="card">

  <div class="card-body">

    <img class="jared image-fluid" src="../../../assets/images/team/jared.png" alt="jared">

    <h3 class="card-title">Jared Flack</h3>

    <p class="card-text">Jared has a background in development, customization, and relational

      databases in the insurance industry. He is pragmatic, a fast learner, has an excellent memory,

      and a high work ethic. He came to Bethel School Of Technology to to take advantage of the lifelong

      learning component Bethel offers learn new skills, programming languages,, and bridge the

      sacred/secular gap in his work. He loves music and seeing people awakened to the reality that

      Jesus has made possible for us to live in. Jared is a family man with a wife and five boys.
    </p>

    <a href="https://www.facebook.com/j.a.tothe.red" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/facebook.png" alt="icons8-facebook-50"></a>

    <a href="https://github.com/jtothered83" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/github.png" alt="icons8-github-squared-50"></a>

    <a href="https://www.instagram.com/jtothered83/" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/instagram.png" alt="icons8-instagram-old-50"></a>

    <a href="https://www.linkedin.com/in/jared-flack-46b507189/" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/linkedin.png" alt="icons8-linkedin-50-3"></a>

    <a href="https://twitter.com/flack_jared" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/twitter.png" alt="icons8-twitter-50-2"></a>

    <a href="mailto:jtothered@gmail.com" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/contact.png" alt="icons8-send-email-50"></a>

  </div>

</div>

<div class="card">

  <div class="card-body">

    <img class="thomas image-fluid" src="../../../assets/images/team/thomas.JPG" alt="thomas">

    <h3 class="card-title">Thomas Kremer</h3>

    <p class="card-text">Thomas is a proficient Full Stack web developer and student living in Hillsborough,

      NC with experience creating, updating, and managing professional websites. While loving to learn himself,

      Thomas is passionate about teaching others about our ever-changing technical industry. Thomas enjoys

      researching different ways to use technology and exploring various options prior to determining the best

      solution. When not in school, Thomas is the hospitality leader, audio visual technician, set up manager as

      well as a leader in his church’s local food pantry ministry. Soon to graduate, Thomas is looking to work in

      web and application development while mentoring others on emerging technologies.
    </p>

    <a href="https://www.facebook.com/tbone7248/" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/facebook.png" alt="icons8-facebook-50"></a>

    <a href="https://github.com/thomasekremer" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/github.png" alt="icons8-github-squared-50"></a>

    <a href="https://www.instagram.com/thomasekremer/" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/instagram.png" alt="icons8-instagram-old-50"></a>

    <a href="https://www.linkedin.com/in/thomas-e-kremer-0419b21a1/" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/linkedin.png" alt="icons8-linkedin-50-3"></a>

    <a href="https://https://twitter.com/thomasekremerwww.twitter.com/" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/twitter.png" alt="icons8-twitter-50-2"></a>

    <a href="mailto:tkremer@nc.rr.com" class="card-link">

      <img class="image-fluid" src="../../../assets/icons/contact.png" alt="icons8-send-email-50"></a>

  </div>

</div>